{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/profile.css" />
{% endblock head %}

{% block content %}
  <div>
    <img src="{{user.avatar}}" alt="My avatar">
    <h1><span>Welcome,</span> {{user.name}}</h1>
    <p>{{user.email}}</p>
  </div>
{% endblock content %}
